<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--使用说明， 运行程序的时候 ，两边数据库保证不能有写入，否则会掉，会错数据 -->
    <!-- 带1就表示1区   带2表示2区  是从一区往2区导入数据 -->
  <add key="ConnetionString1_acc" value="server=182.131.21.76;database=acc_db1;uid=root;pwd=123456;Charset=utf8"/>
    <add key="ConnetionString2_acc" value="server=182.131.21.76;database=acc_db2;uid=root;pwd=123456;Charset=utf8"/>
    <add key="ConnetionString1_wang" value="server=182.131.21.76;database=wangpudb1;uid=root;pwd=123456;Charset=utf8"/>
    <add key="ConnetionString2_wang" value="server=182.131.21.76;database=wangpudb2;uid=root;pwd=123456;Charset=utf8"/>
    <add key="wb_syndicate" value="pre1"/>
    <add key="wb_user" value="[s2]"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
