{include file="pageheader.htm"}
<form action="pet.php?act=edit_query" method="post" enctype="multipart/form-data" name="searchForm">
<table width="90%" id="mix-table"  align="center">
    <tr>
        <td width="15%"><strong>{$lang.pet_name}</strong></td>
        <td align="left"><input type ="text" name="pet_name" id="pet_name" value="{$res.name}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.pet_type}</strong></td>
        <td align="left"><input type ="text" name="pet_type" id="pet_type" value="{$res.pet_type}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.pet_life}</strong></td>
        <td align="left"><input type ="text" name="life" id="life" value="{$res.life}"/></td>
    </tr>
    
    <tr>
        <td width="15%"><strong>{$lang.pet_level}</strong></td>
        <td align="left"><input type ="text" name="level" id="level" value="{$res.level}"/></td>
    </tr>     
    <tr>
        <td width="15%"><strong>{$lang.pet_exp}</strong></td>
        <td align="left"><input type ="text" name="exp" id="exp" value="{$res.exp}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.pet_happy}</strong></td>
        <td align="left"><input type="text" id="happy" name="happy" value="{$res.happy}">{$lang.boy}</td>
    </tr>
    
    <tr>
    	<td width = "15%"><strong>{$lang.huanshou}</strong></td>
    	<td align ="left">
    		<input type="radio" value="2" name="huanshou" id = "huanshou" {if $res.sex eq 2}checked{/if} onchange="SelectOne();">{$lang.yes}
			<input type="radio" value="0" name="huanshou" id = "huanshou" {if $res.sex eq 0 || $res.sex eq 1}checked{/if} onchange="SelectOne();">{$lang.no}
		</td>
    </tr>
   
    <tr>
        <td width="15%"><strong>{$lang.pet_understand}</strong></td>
        <td align="left"><input type ="text" name="understand" id="understand" value="{$res.understand}"/></td>
    </tr>
    <tr id = "pet_intelligence" {if $res.sex neq 2}style = "display:none;"{/if}>
    	<td width="15%"><strong>{$lang.pet_intelligence}</strong></td>
    	<td align="left"><input type ="text" name = "intelligence" id = "intelligence" value ="{$res.intelligence}"/></td>
    </tr>    
    <tr id = "pet_fusion" {if $res.sex neq 2}style = "display:none;"{/if}>
    	<td width ="15%"><strong>{$lang.pet_fusion}</strong></td>
    	<td align="left"><input type = "text" name ="fusion" id = "fusion" value ="{$res.fusion}"/></td>
    </tr>
   
	<tr>
        <td width="15%"><strong>{$lang.pet_bone}</strong></td>
        <td align="left"><input type ="text" name="bone" id="bone" value="{$res.bone}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.pet_lifespan}</strong></td>
        <td align="left"><input type ="text" name="lifespan" id="lifespan" value="{$res.lifespan}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.pet_strchg}</strong></td>
        <td align="left"><input type ="text" name="strchg" id="strchg" value="{$res.strchg}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.intchg}</strong></td>
        <td align="left"><input type ="text" name="intchg" id="intchg" value="{$res.intchg}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.stachg}</strong></td>
        <td align="left"><input type ="text" name="stachg" id="stachg" value="{$res.stachg}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.spichg}</strong></td>
        <td align="left"><input type ="text" name="spichg" id="spichg" value="{$res.spichg}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.agichg}</strong></td>
        <td align="left"><input type ="text" name="agichg" id="agichg" value="{$res.agichg}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.gift}</strong></td>
        <td align="left"><input type ="text" name="gift" id="gift" value="{$res.gift}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.grow}</strong></td>
        <td align="left"><input type ="text" name="grow" id="grow" value="{$res.grow}"/></td>
    </tr>
    <tr>
    	<td width="15%"><strong>{$lang.addaddtion}</strong></strong></td>
    	<td align="left"><input type ="text" name ="addaddtion" id ="addaddtion" value="{$res.addpoint}"/></td>
    	<td align="left"><span>{$lang.level_notice}</span></td>
    </tr>
  	<tr>
        <td width="15%"><strong>{$lang.skill1}</strong></td>
        <td align="left"><input type ="text" name="skill1" id="skill1" value="{$res.skill_1}"/></td>
    </tr>
  	<tr>
        <td width="15%"><strong>{$lang.skill2}</strong></td>
        <td align="left"><input type ="text" name="skill2" id="skill2" value="{$res.skill_2}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill3}</strong></td>
        <td align="left"><input type ="text" name="skill3" id="skill3" value="{$res.skill_3}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill4}</strong></td>
        <td align="left"><input type ="text" name="skill4" id="skill4" value="{$res.skill_4}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill5}</strong></td>
        <td align="left"><input type ="text" name="skill5" id="skill5" value="{$res.skill_5}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill6}</strong></td>
        <td align="left"><input type ="text" name="skill6" id="skill6" value="{$res.skill_6}"/></td>
    </tr>   
    <tr>
        <td width="15%"><strong>{$lang.skill7}</strong></td>
        <td align="left"><input type ="text" name="skill7" id="skill7" value="{$res.skill_7}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill8}</strong></td>
        <td align="left"><input type ="text" name="skill8" id="skill8" value="{$res.skill_8}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill9}</strong></td>
        <td align="left"><input type ="text" name="skill9" id="skill9" value="{$res.skill_9}"/></td>
    </tr>
    <tr>
        <td width="15%"><strong>{$lang.skill10}</strong></td>
        <td align="left"><input type ="text" name="skill10" id="skill10" value="{$res.skill_10}"/></td>
    </tr>
    <tr>
        <td colspan="4">
        	<input name = "resid" id="resid" type ="hidden" value ="{$res.id}"/>
            <input name="query" type="submit" class="button" id="query" value="{$lang.button_submit}"/>
            <input name="reset" type="reset" class='button' value='{$lang.button_reset}' />
        </td>
    </tr>
</table>
</form>
<script type="text/javascript">
	function SelectOne(){
		var huanshou_state = document.getElementsByName("huanshou");		
		if(huanshou_state[0].checked == true){			
			document.getElementById("pet_intelligence").style.display = "block";
			document.getElementById("pet_fusion").style.display = "block";
		}else{
			document.getElementById("pet_intelligence").style.display = "none";
			document.getElementById("pet_fusion").style.display = "none";
		}
		
		
		
	}
</script>
{include file="pagefooter.htm"}