{include file="pageheader.htm"}
<div class="main-div">
    <form action="player.php?act=goods" method="post" enctype="multipart/form-data" name="searchForm">
        <table >
             <tr>
                <td  width="60"><div align="left"><strong>{$lang.username}：</strong></div></td>
                <td width="60">
                    <input type="text" name="username" value=""  />
                </td>
                <td  width="60"><div align="left"><strong>{$lang.rolename}：</strong></div></td>
                <td>
                    <input type="text" name="rolename" value="" />
                </td>
             </tr>
             <tr>
                <td colspan="3">
                        <input name="query" type="submit" class="button" id="query" value="提交"/>
                        <input name="reset" type="reset" class='button' value="重置" />
                    
                </td>
             </tr>   
        </table>
    </form>
</div>


<div class="list-div">
  <table>
  	<tr>
  	   <th width="150" align="left">{$lang.goods_user}</th>
  	   <th width="150" align="left">{$lang.goods_name}</th>
  	   <th width="150" align="left">{$lang.goods_price}</th>
  	   <th width="150" align="left">{$lang.goods_amount}</th>
  	   <th width="150" align="left">{$lang.goods_buytime}</th>
  	   <th align="left">{$lang.goods_pay}</th>
  	</tr>
{foreach from=$rs item = result}
    <tr>
       <td>{$username}</td>
       <td>{$result.name}</td>
       <td>{$result.price}</td>
       <td>{$result.ItemType_Amount}</td>
       <td>{$result.writeTime}</td>
       <td>{$result.Spend_VAS_Point}</td>
    </tr>
    {/foreach}

  </table>


<!-- 分页 TOOD 未来处理 -->  

</div>

{include file="pagefooter.htm"}