{include file="pageheader.htm"}
<link type="text/css" href="./templates/js/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="./templates/js/jquery.min.js"></script>
<script type="text/javascript" src="./templates/js/jquery-ui-1.8.14.custom.min.js"></script>
{literal}
<script>
$(document).ready(function(){
	$('.id2').hide();
	$('#select1').change(function() {
		if($('#select1  option:selected').val() == "{$lang.staff}"){
			$('.id2').show();
		}else{
			$('.id2').hide();
		}
		//alert('#select1 option:selected').val());
	});
	$('#query').click(function(){
		if($('#select1  option:selected').val() == "{$lang.staff}"){
			if($('#action').val()==''||$('#request').val()==''){
				alert('{$lang.user_null}');
				return false;
			}
	    }
	});
});
</script>
{/literal}
<form action="resource.php?act=goods_query" method="post" enctype="multipart/form-data" name="searchForm">
<table width="90%" id="mix-table"  align="center">
    <tr>
        <td width="90"><strong>{$lang.is_username}</strong></td>
        <td><input type ="text" name="username" id="username" /></td>
    </tr>
    <tr>
        <td width="90"><strong>{$lang.goods_id}</strong></td>
        <td><input type ="text" name="goods_id" id="goods_id" /></td>
    </tr>
    <tr>
        <td width="90"><strong>{$lang.goods_amount}</strong></td>
        <td><input type ="text" name="goods_amount" id="goods_amount" /></td>
    </tr>
    <tr>
        <td width="90"><strong>{$lang.overlay_amount}</strong></td>
        <td><input type ="text" name="overlay_amount" id="overlay_amount" /></td>
    </tr>
    <tr>
        <td width="90"><strong>{$lang.goods_color}</strong></td>
        <td>
            <select name="goods_color" id="goods_color" >
                <option value="1">{$lang.white}</option>
                <option value="2">{$lang.blue}</option>
                <option value="3">{$lang.green}</option>
                <option value="4">{$lang.purple}</option>
                <option value="5">{$lang.orange}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="90"><strong>{$lang.is_binding}</strong></td>
        <td>
            <input type="radio" value="1" name="binding" checked='true'>{$lang.bin}
            <input type="radio" value="0" name="binding">{$lang.notbin}
        </td>
    </tr>
	<tr>
        <td width="90"><strong>{$lang.goods_position}</strong></td>
        <td><input type="text" name="goods_position" id="goods_position" /></td>
	</tr>
	<tr>
		<td width="90"><strong>{$lang.input_account}:</strong></td>
		<td><input type="file" name="input_account" id="input_account" /></td>
	</tr>
	<tr>
         <td width="60"> <strong>{$lang.add_type}:</strong> </td>
         <td>
             <select id="select1" name="add_type">
                 <option value="{$lang.reward}">{$lang.reward}</option>
                 <option value="{$lang.compensation}" selected="selected">{$lang.compensation}</option>
                 <option value="{$lang.staff}">{$lang.staff}</option>
             </select>
          </td>
    </tr>
    <tr class="id2">
        <td width="60"> <strong>{$lang.request}:</strong> </td>
        <td> <input type="text" name="request" id="request"  /> </td>
    </tr>
    <tr class="id2">
        <td width="100"> <strong>{$lang.act_man}:</strong> </td>
        <td> <input type="text" name="action" id="action"  /> </td>
    </tr>
    <tr>
        <td colspan="4">
            <input name="query" type="submit" class="button" id="query" value="{$lang.button_search}"/>
            <input name="reset" type="reset" class='button' value='{$lang.button_reset}' />
        </td>
    </tr>
    <tr>
    	<td colspan="4">
    		<strong>{$lang.goods_notic}<br/>{$lang.goods_notic_1}<br/>{$lang.goods_notic_3}<br/>{$lang.goods_notic_2}<br/></strong>
    	</td>
    </tr>
</table>
</form>
{foreach from=$res item = result}

<strong>{$result}</strong><br />

{/foreach}


{include file="pagefooter.htm"}