{include file="pageheader.htm"}

<form action="resource.php?act=mkdkcard" method="post" enctype="multipart/form-data" name="searchForm" id="searchForm">
<table width="90%" id="mix-table"  align="center">

    <tr>
        <td><strong>{$lang.cardtype}</strong></td>
        <td>
            <select name="cardtype" id="cardtype" >
              {foreach from=$cardname item = result name=card}
                 <option value="{$smarty.foreach.card.iteration}">{$result}</option> 
              {/foreach}
            </select>
        </td>
    </tr>
    <tr>
        <td width="80"><strong>{$lang.card_amount}</strong></td>
        <td><input type ="text" name="card_amount" id="card_amount" /></td>
    </tr>   
    <tr>
        <td colspan="2">
            <input name="query" type="submit" class="button" id="query" value="{$lang.get_card}"/>
            <input name="reset" type="reset" class='button' value='{$lang.button_reset}' />
            <input name="" type="button" class="button" value='{$lang.button_output}' onclick="output();"/>
         </td>
    </tr>
	<tr>
    	<td colspan="3"><strong>{$lang.card_notic}</strong></td>
    </tr>
</table>
<script>
function output(){
	var amount = document.getElementById('card_amount').value;
	var type = document.getElementById('cardtype').value;
	if(amount){
		window.location.href = "resource.php?act=mkdkcard_output&card_amount="+amount+"&cardtype="+type;
	}else{
		alert("{$lang.notnum}");
	}
}
</script>
</form>






{include file="pagefooter.htm"}