{include file="pageheader.htm"}

<div class="main-div">
    <form action="sys_config.php?act=clear_ver&type={$type}" method="post" enctype="multipart/form-data" name="searchForm">
       {foreach from=$info key =key item = result}
       <p><input  id="{$key}" type="checkbox" value="s_{$key}[]" onClick="ChkAllClick('{$key}',this.form, this)" /><strong>{$key}</strong></p>
       {foreach from=$result key =k item = r}
       <input type="checkbox" name="s_{$key}[]" id="s_{$key}" value="{$r}" />{if $r<10}0{$r}{else}{$r}{/if}{$lang.select_sever} 
       {if ($k+1)%20==0}
       <p></p>
       {/if}
       {/foreach}
       {/foreach}
    
       <table >
             <tr>
                <td colspan="3">
                       <input type="checkbox" name="checkall" value="checkbox" onclick="checkAll(this.form, this);" class="checkbox" />{$lang.select_all}
                        <input name="query" type="submit" class="button" id="query" value="{$lang.button_query}"/>
                    
                </td>
             </tr>   
        </table>
    </form>
</div>
  
{literal}
<script language="javascript">
//所有平台全选
function checkAll(frm, checkbox){
  for (i = 0; i < frm.elements.length; i++){
      frm.elements[i].checked = checkbox.checked;
  }
}
//单平台全选
function ChkAllClick(type,frm, checkbox){
	var name = document.getElementById(type).value;
    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name ==name )
      {
        frm.elements[i].checked = checkbox.checked;
      }
    }
}

</script>
{/literal}

{include file="pagefooter.htm"}