{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,colorselector.js"}
{insert_scripts files="../js/transport.js,common.js"}

<script language="JavaScript">
 /**
   * 新增一个充值工具
   */
  function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('mix-table');
      //var tbl  = document.getElementById('test');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  /**
   * 删除充值
   */
  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('mix-table');
      //var tbl  = document.getElementById('test');

      tbl.deleteRow(row);
  }
</script>



<div class="main-div">
	<span>{$lang.notices}</span> 
<form action="tool.php?act=newuser" method="post" enctype="multipart/form-data" name="searchForm">
<table width="90%" id="mix-table"  align="center">
	<tr>
		<td colspan="4">
			<strong>{$lang.type}</strong>
			<input type="radio" value="1" name="tool_type" checked='true'>{$lang.zdy}
			<input type="radio" value="2" name="tool_type">{$lang.GM}
		</td>
	</tr>
    <tr>
		<td>  
           <a href="javascript:;" onclick="addImg(this)">[+]</a>
           {$lang.rolename}:<input type="text" name="rolename[]" id="rolename" >
        </td>
    </tr>
	<tr>
		<td colspan='2'>
			<input name="query" type="submit" class="button" id="query" value="{$lang.button_search}"/>
			<input name="reset" type="reset" class='button' value='{$lang.button_reset}' />
		</td>
	</tr>
</table>

</form>
</div>
<strong>{$str}</strong>
<div class="list-div">
<table>
  	<tr>
  	    <th width="100" align="left">{$lang.rolename}</th>
  	    <th width="100" align="left">{$lang.tooltype}</th>
  	    <th align="left">{$lang.newuser_act}</th>
  	</tr>

{foreach from=$rs item = result}
    <tr>
        <td>{$result.name}</td>
        <td>
        {if $result.identity==1}
           {$lang.zdy}
        {elseif $result.identity==2}
           {$lang.GM}
        {/if}
        </td>
        <td>
        {if $result.identity==1}
           <a href="tool.php?act=del&role={$result.name}">{$lang.newuser_del}</a>
        {elseif $result.identity==2}
           {$lang.newuser_un_del}                  
        {/if}
        </td>
    </tr>
    {/foreach}
  </table>

{include file="pagefooter.htm"}
